[submodule "roles/coreos-swapfile"]
	path = roles/coreos-swapfile
	url = git@github.com:brtknr/coreos-swapfile.git
[submodule "roles/k8s-cat-ansible"]
	path = roles/k8s-inception-ansible
	url = git@github.com:brtknr/k8s-cat-ansible.git
[submodule "roles/openvpn-setup"]
	path = roles/coreos-swapfile
	url = git@github.com:stackhpc/openvpn-setup.git
